<label>
  Number:
  <input type="number" value="0" id="random-number-input">
  <button id="random-number-button">New Value</button>
</label>

<label>
  String:
  <input type="string" value="" id="random-string-input">
  <button id="random-string-button">New Value</button>
</label>

<script>
  const ws = new WebSocket("ws://localhost:8080");

  ws.onopen = console.log;
  ws.onerror = console.error;

  ws.onmessage = ({ data }) => {
    const message = JSON.parse(data);

    if (message.event === "random-number") {
      document.getElementById("random-number-input").value = message.value;
    } else if (message.event === "random-string") {
      document.getElementById("random-string-input").value = message.value;
    }
  };

  document
    .getElementById("random-number-button")
    .addEventListener("click", () => ws.send("random-number"));

  document
    .getElementById("random-string-button")
    .addEventListener("click", () => ws.send("random-string"));
</script>